body{
    background-color:slategray;
    font-family:'arial';
    font-size: 10pt;
    text-align:center;
}

h1{
   margin-top:100px;
    line-height: 15px;
    font-size:36pt; 
    font-family: 'Gloria Hallelujah', cursive;
    padding: 0px;
}


.chunk{
    margin: 0% 25% 0% 25%;
    padding: 100px;
    background-color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16pt;
    
}

.refined{
    font-size:12px;
    padding:30px;
    background-color:aliceblue;
}

#roundshit{   
    border-radius:50px;
}

#roundershit{
    border-radius:25px;
}



